<a href="https://colab.research.google.com/github/fatach/Clustering-classification/blob/master/Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
pd.options.display.max_rows = 10
#vérifier la version
print(pd.__version__)

0.25.3

In [7]:
#chargement du fichier
#df est le nom de l'objet de type data frame créé
#sep spécifie le caractère séparateur de colonnes
#header = 0 : la ligne numéro 0 = aux noms des champs
#éventuellement decimal permet d'indiquer le point décimal
df = pd.read_csv('Daily_Demand.txt', sep='\t',header=0)

#afficher
print(df)

      No X1 transaction date  ... X6 longitude Y house price of unit area
0      1            2012,917  ...    121,54024                       37,9
1      2            2012,917  ...    121,53951                       42,2
2      3            2013,583  ...    121,54391                       47,3
3      4            2013,500  ...    121,54391                       54,8
4      5            2012,833  ...    121,54245                       43,1
..   ...                 ...  ...          ...                        ...
409  410            2013,000  ...    121,50381                       15,4
410  411            2012,667  ...     121,5431                         50
411  412            2013,250  ...    121,53986                       40,6
412  413            2013,000  ...    121,54067                       52,5
413  414            2013,500  ...     121,5431                       63,9

[414 rows x 8 columns]

In [8]:
#dimensions : nombre de lignes, nombre de colonnes
#la ligne d'en-tête n'est pas comptabilisée
#dans le nombre de lignes
print(df.shape)

(414, 8)

In [9]:
#afficher les premières lignes du jeu de données
print(df.head())

   No X1 transaction date  ... X6 longitude Y house price of unit area
0   1            2012,917  ...    121,54024                       37,9
1   2            2012,917  ...    121,53951                       42,2
2   3            2013,583  ...    121,54391                       47,3
3   4            2013,500  ...    121,54391                       54,8
4   5            2012,833  ...    121,54245                       43,1

[5 rows x 8 columns]

In [10]:
#afficher les dernieres lignes du jeu de données
print(df.tail())

      No X1 transaction date  ... X6 longitude Y house price of unit area
409  410            2013,000  ...    121,50381                       15,4
410  411            2012,667  ...     121,5431                         50
411  412            2013,250  ...    121,53986                       40,6
412  413            2013,000  ...    121,54067                       52,5
413  414            2013,500  ...     121,5431                       63,9

[5 rows x 8 columns]

In [11]:
#énumération des colonnes
print(df.columns)

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [14]:
#type de chaque colonne
print(df.dtypes)

No                                         int64
X1 transaction date                       object
X2 house age                              object
X3 distance to the nearest MRT station    object
X4 number of convenience stores            int64
X5 latitude                               object
X6 longitude                              object
Y house price of unit area                object
dtype: object

In [15]:
#informations sur les données
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
No                                        414 non-null int64
X1 transaction date                       414 non-null object
X2 house age                              414 non-null object
X3 distance to the nearest MRT station    414 non-null object
X4 number of convenience stores           414 non-null int64
X5 latitude                               414 non-null object
X6 longitude                              414 non-null object
Y house price of unit area                414 non-null object
dtypes: int64(2), object(6)
memory usage: 26.0+ KB
None

In [17]:
#description des données
print(df.describe(include='all'))

            No X1 transaction date  ... X6 longitude Y house price of unit area
count   414.00                 414  ...          414                        414
unique     NaN                  12  ...          232                        270
top        NaN            2013,417  ...    121,54348                       42,3
freq       NaN                  58  ...           13                          4
mean    207.50                 NaN  ...          NaN                        NaN
...        ...                 ...  ...          ...                        ...
min       1.00                 NaN  ...          NaN                        NaN
25%     104.25                 NaN  ...          NaN                        NaN
50%     207.50                 NaN  ...          NaN                        NaN
75%     310.75                 NaN  ...          NaN                        NaN
max     414.00                 NaN  ...          NaN                        NaN

[11 rows x 8 columns]

In [23]:
#Reneme Renee column
df.columns=['No','data','age','distance','number_store','latitue','longitude','price']
print(df)

      No      data   age  distance  number_store   latitue  longitude price
0      1  2012,917    32  84,87882            10  24,98298  121,54024  37,9
1      2  2012,917  19,5  306,5947             9  24,98034  121,53951  42,2
2      3  2013,583  13,3  561,9845             5  24,98746  121,54391  47,3
3      4  2013,500  13,3  561,9845             5  24,98746  121,54391  54,8
4      5  2012,833     5  390,5684             5  24,97937  121,54245  43,1
..   ...       ...   ...       ...           ...       ...        ...   ...
409  410  2013,000  13,7  4082,015             0  24,94155  121,50381  15,4
410  411  2012,667   5,6  90,45606             9  24,97433   121,5431    50
411  412  2013,250  18,8  390,9696             7  24,97923  121,53986  40,6
412  413  2013,000   8,1  104,8101             5  24,96674  121,54067  52,5
413  414  2013,500   6,5  90,45606             9  24,97433   121,5431  63,9

[414 rows x 8 columns]

In [0]:
#Accès aux variables

In [25]:
#accès à une colonne
print(df['price'])

0      37,9
1      42,2
2      47,3
3      54,8
4      43,1
       ...
409    15,4
410      50
411    40,6
412    52,5
413    63,9
Name: price, Length: 414, dtype: object

In [26]:
#autre manière d'accéder à une colonne avec le .
#sous R nous utiliserions le $
print(df.age)

0        32
1      19,5
2      13,3
3      13,3
4         5
       ...
409    13,7
410     5,6
411    18,8
412     8,1
413     6,5
Name: age, Length: 414, dtype: object

In [27]:
#accéder à un ensemble de colonnes
print(df[['age','price']])

      age price
0      32  37,9
1    19,5  42,2
2    13,3  47,3
3    13,3  54,8
4       5  43,1
..    ...   ...
409  13,7  15,4
410   5,6    50
411  18,8  40,6
412   8,1  52,5
413   6,5  63,9

[414 rows x 2 columns]

In [28]:
#une colonne est un vecteur (Series en terminologie Pandas)
#affichage des premières valeurs
print(df['age'].head())

0      32
1    19,5
2    13,3
3    13,3
4       5
Name: age, dtype: object

In [29]:
#affichage des dernières valeurs
print(df['age'].tail())

409    13,7
410     5,6
411    18,8
412     8,1
413     6,5
Name: age, dtype: object

In [31]:
#statistique descriptive. Pour plus de détails, voir :
#http://pandas.pydata.org/pandas-docs/stable/basics.html#summarizing-data-descri
print(df['age'].describe())

count     414
unique    236
top         0
freq       17
Name: age, dtype: object

In [42]:
#calculer explicitement la moyenne
print(df['No'].mean())

207.5

In [43]:
#comptage des valeurs
print(df['age'].value_counts())

0       17
13,6     7
16,4     6
13,3     6
13,2     6
        ..
12,4     1
2,7      1
26,8     1
8,4      1
10,5     1
Name: age, Length: 236, dtype: int64

In [44]:
#un type Series est un vecteur, il est possible d'utiliser des indices
#première valeur
print(df['age'][0])

32

In [45]:
#3 premières valeurs
print(df['age'][0:3])

0      32
1    19,5
2    13,3
Name: age, dtype: object

In [46]:
#ou bien donc
print(df.age[0:3])

0      32
1    19,5
2    13,3
Name: age, dtype: object

In [47]:
#trier les valeurs d'une variable de manière croissante
print(df['age'].sort_values())

164      0
103      0
146      0
16       0
345      0
      ...
91     9,1
223    9,1
193    9,7
112    9,9
124    9,9
Name: age, Length: 414, dtype: object

In [48]:
#nous pouvons aussi obtenir les indices des valeurs triées
print(df['age'].argsort())

0      164
1      103
2      146
3       16
4      345
      ...
409     91
410    223
411    193
412    112
413    124
Name: age, Length: 414, dtype: int64

In [49]:
#le tri peut être généralisé aux DataFrame
#par exemple : trier le tableau de données selon l'âge
#puis affichage des premières lignes avec head()
print(df.sort_values(by='age').head())

      No      data age  distance  number_store   latitue  longitude price
164  165  2012,833   0  185,4296             0   24,9711   121,5317  55,2
103  104  2012,750   0  208,3905             6  24,95618  121,53844  45,7
146  147  2012,750   0  185,4296             0   24,9711   121,5317  52,2
16    17  2013,250   0  292,9978             6  24,97744  121,54458  70,1
345  346  2012,667   0  185,4296             0   24,9711   121,5317  37,9

In [0]:
#Itérations sur les variables

In [51]:
#boucler sur l'ensemble des colonnes
for col in df.columns:
  print(df[col].dtype)

int64
object
object
object
int64
object
object
object

In [0]:
#LIBRAIRIE NUMPY

In [0]:
import numpy as np

In [55]:
#fonction call back
def operation(x):
  return(x.mean())

#appel de la fonction sur l'ensemble des colonnes du DataFrame
#axis = 0 ==> chaque colonne sera transmise à la fonction operation()
#la selection select_dtypes() permet d'exclure les variables non numériques
resultat = df.select_dtypes(exclude=['object']).apply(operation,axis=0)
print(resultat)

No              207.500000
number_store      4.094203
dtype: float64

In [56]:
#accès à la valeur située en (0,0)
print(df.iloc[0,0])

1

In [57]:
#valeur située en dernière ligne, première colonne
#utilisation de l'indiçage négatif
print(df.iloc[-1,0])

414

In [58]:
#valeur située en dernière ligne, première colonne
#shape[0] renvoie le nombre de lignes (première dimension)
#il faut réduire de -1 parce le premier indice est égal à 0
#sinon on déborde
print(df.iloc[df.shape[0]-1,0])

414

In [59]:
#5 premières valeurs de toutes les colonnes
#lignes => 0:5 (0 à 5 [non inclus])
#colonnes = : (toutes les colonnes)
print(df.iloc[0:5,:])

   No      data   age  distance  number_store   latitue  longitude price
0   1  2012,917    32  84,87882            10  24,98298  121,54024  37,9
1   2  2012,917  19,5  306,5947             9  24,98034  121,53951  42,2
2   3  2013,583  13,3  561,9845             5  24,98746  121,54391  47,3
3   4  2013,500  13,3  561,9845             5  24,98746  121,54391  54,8
4   5  2012,833     5  390,5684             5  24,97937  121,54245  43,1

In [60]:
#avec l'indiçage négatif, on peut facilement accéder aux 5 dernières lignes
print(df.iloc[-5:,:])

      No      data   age  distance  number_store   latitue  longitude price
409  410  2013,000  13,7  4082,015             0  24,94155  121,50381  15,4
410  411  2012,667   5,6  90,45606             9  24,97433   121,5431    50
411  412  2013,250  18,8  390,9696             7  24,97923  121,53986  40,6
412  413  2013,000   8,1  104,8101             5  24,96674  121,54067  52,5
413  414  2013,500   6,5  90,45606             9  24,97433   121,5431  63,9

In [61]:
#5 premières lignes et deux premières colonnes
print(df.iloc[0:5,0:2])

   No      data
0   1  2012,917
1   2  2012,917
2   3  2013,583
3   4  2013,500
4   5  2012,833

In [62]:
#5 premières lignes et colonnes 0, 1 et 4
#on a une liste d'indices en colonne
print(df.iloc[0:5,[0,2,4]])

   No   age  number_store
0   1    32            10
1   2  19,5             9
2   3  13,3             5
3   4  13,3             5
4   5     5             5

In [63]:
#ou encore, pour exactement la même chose
#remarquez le rôle de 2 dans 0:5:2
print(df.iloc[0:5,0:5:2])

   No   age  number_store
0   1    32            10
1   2  19,5             9
2   3  13,3             5
3   4  13,3             5
4   5     5             5

In [65]:
#liste des maisons dont la distance des magasin est 5
print(df.loc[df['number_store']==5,:])

      No      data   age  distance  number_store   latitue  longitude price
2      3  2013,583  13,3  561,9845             5  24,98746  121,54391  47,3
3      4  2013,500  13,3  561,9845             5  24,98746  121,54391  54,8
4      5  2012,833     5  390,5684             5  24,97937  121,54245  43,1
12    13  2012,917    13  492,2313             5  24,96515  121,53737  39,3
26    27  2012,667   3,1  383,8624             5  24,98085  121,54391  56,2
..   ...       ...   ...       ...           ...       ...        ...   ...
374  375  2013,250   5,4  390,5684             5  24,97937  121,54245  49,5
380  381  2013,333  14,1  289,3248             5  24,98203  121,54348  53,3
400  401  2013,250  26,8  482,7581             5  24,97433  121,53863  35,5
404  405  2013,333  16,4  289,3248             5  24,98203  121,54348  41,2
412  413  2013,000   8,1  104,8101             5  24,96674  121,54067  52,5

[67 rows x 8 columns]

In [67]:
#pour un ensemble de valeurs de la même variable,
#nous utilisons isin()
print(df.loc[df['number_store'].isin([5,9]),:])

      No      data   age  distance  number_store   latitue  longitude price
1      2  2012,917  19,5  306,5947             9  24,98034  121,53951  42,2
2      3  2013,583  13,3  561,9845             5  24,98746  121,54391  47,3
3      4  2013,500  13,3  561,9845             5  24,98746  121,54391  54,8
4      5  2012,833     5  390,5684             5  24,97937  121,54245  43,1
11    12  2013,333   6,3  90,45606             9  24,97433   121,5431  58,1
..   ...       ...   ...       ...           ...       ...        ...   ...
403  404  2012,667  30,9   161,942             9  24,98353  121,53966  39,7
404  405  2013,333  16,4  289,3248             5  24,98203  121,54348  41,2
410  411  2012,667   5,6  90,45606             9  24,97433   121,5431    50
412  413  2013,000   8,1  104,8101             5  24,96674  121,54067  52,5
413  414  2013,500   6,5  90,45606             9  24,97433   121,5431  63,9

[92 rows x 8 columns]

In [0]:
# GRAPHIQUE

In [0]:
#indiquer que l'on veut voir apparaître les graphiques dans le notebook
#/!\ très important, sinon on ne verrait rien
%matplotlib inline
#importation de la librairie
import matplotlib.pyplot as plt

In [84]:
df.fillna(0)

      No      data   age  distance  number_store   latitue  longitude price
0      1  2012,917    32  84,87882            10  24,98298  121,54024  37,9
1      2  2012,917  19,5  306,5947             9  24,98034  121,53951  42,2
2      3  2013,583  13,3  561,9845             5  24,98746  121,54391  47,3
3      4  2013,500  13,3  561,9845             5  24,98746  121,54391  54,8
4      5  2012,833     5  390,5684             5  24,97937  121,54245  43,1
..   ...       ...   ...       ...           ...       ...        ...   ...
409  410  2013,000  13,7  4082,015             0  24,94155  121,50381  15,4
410  411  2012,667   5,6  90,45606             9  24,97433   121,5431    50
411  412  2013,250  18,8  390,9696             7  24,97923  121,53986  40,6
412  413  2013,000   8,1  104,8101             5  24,96674  121,54067  52,5
413  414  2013,500   6,5  90,45606             9  24,97433   121,5431  63,9

[414 rows x 8 columns]

In [85]:
print(df.isnull())

        No   data    age  distance  number_store  latitue  longitude  price
0    False  False  False     False         False    False      False  False
1    False  False  False     False         False    False      False  False
2    False  False  False     False         False    False      False  False
3    False  False  False     False         False    False      False  False
4    False  False  False     False         False    False      False  False
..     ...    ...    ...       ...           ...      ...        ...    ...
409  False  False  False     False         False    False      False  False
410  False  False  False     False         False    False      False  False
411  False  False  False     False         False    False      False  False
412  False  False  False     False         False    False      False  False
413  False  False  False     False         False    False      False  False

[414 rows x 8 columns]